.tablink{
    background-color: lightgrey;
    color: black!important;
    padding: 20px!important;
    text-align: center!important;
    text-decoration: none!important;
    border-radius: 5px!important;
    font-size: 10px!important;
    margin: 4px 2px!important;
    cursor: pointer!important;
}